/* Main */
:root {
    --pageBackground: #878580; /*Middle Gray*/
    --darkColor: #2B0A51; /*Russion Violet*/
    --lightColor: #7C77B9; /*Middle Blue Purple*/
    --contentLight: #F8F8F8; /*Cultured*/
    --contentDark: #B6B2D0; /*Wild Blue Yonder*/
    --TheBlack: #1D1E18; /*Black Chocolate*/
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--TheBlack);
}

body {
    background-color: var(--pageBackground);
    max-width: 100vw;
}

h2 {
    border-bottom: 2px solid var(--darkColor);
}

/* Jumbotron */
.jumbotron, .jumbotron-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Navbar */

.logo {
    height: 50px;
    width: auto;
    margin: 0;
}

nav a {
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: #1D1E18;
}

/* Hero */
.hero-container {
    display: flex;
    height: 400px;
}

#heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

#heroImg {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50vw;
}

#heroImg img {
    max-width: 100%;
    max-height: 100%;

}

/* About Me */
#aboutMe {
    /* margin-bottom: 15px; */
    background-color: var(--contentLight);
}

#aboutMe .card-body {
    padding-left: 0px;
    padding-right: 0px;
}


/* Projects */
/* Placeholder for projects CSS */

/* Challenges */
#work {
    background-color: var(--contentDark);
}

#work h2 {
    padding-top: 15px;
}

.challenge-row img {
    height: 200px;
    width: auto;
}

.challenge-row .card {
    width: 20rem;
    margin: 15px;
}

/* Misc */

.btn-primary {
    background-color: var(--darkColor);
    border-color: var(--darkColor);
    opacity: 0.8;
}

.btn-primary:hover {
    background-color: var(--darkColor);
    border-color: var(--darkColor);
    opacity: 1;
}

/* Footer */
footer {
    padding: 15px;
    background-color: var(--lightColor) !important;
}

#copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

#connectLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#connectLinks > * {
    padding: 5px;
}