:root {
    --pageBackground: rgb(173, 173, 204);
    --darkColor: navy;
    --lightColor: rgb(142, 142, 235);
}

body {
    background-color: var(--pageBackground);
}

.logo {
    height: 50px;
    width: auto;
    margin: 0;
}

.hero-container img {
    height: 500px;
    width: auto;
}

.project-row img {
    width: auto;
    height: 187px;
    /* position: center; */
}

.challenge-row img {
    height: 200px;
    width auto;
}

footer {
    padding: 15px;;
}

#copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

#connectLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#connectLinks > * {
    padding: 5px;
}

